<p>{{ __('Hello', 'shortcode-timber-plugin') }} {{title}}!</p>

<h3>{{ __('Content', 'shortcode-timber-plugin') }}</h3>

<div>{{ content }}</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        console.log("This runs if timber is enabled");
    });
</script>
